<h1>推し選手詳細</h1>

<p><strong>選手名：</strong><%= @favorite_player.name %></p>

<p><strong>所属チーム：</strong><%= @favorite_player.team %></p>

<p><strong>ポジション：</strong><%= @favorite_player.position %></p>

<%= link_to "編集する", edit_favorite_player_path(@favorite_player) %>

<%= link_to "削除する",
            favorite_player_path(@favorite_player),
            data: {
              turbo_method: :delete,
              turbo_confirm: "本当に削除しますか？"
            } %>

<%= link_to "一覧に戻る", favorite_players_path %>